<ul class="list-group-flush px-0 vh-100 overflow-auto" id="list-items">
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=mushroom" class="text-decoration-none text-dark">mushrooms</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=cherry" class="text-decoration-none text-dark">cherry</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=ice cream" class="text-decoration-none text-dark">Ice Cream</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=strawberry" class="text-decoration-none text-dark">strawberry</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=watermelon" class="text-decoration-none text-dark">watermelon</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=salad" class="text-decoration-none text-dark">salad</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=pizza" class="text-decoration-none text-dark">pizza</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=pasta" class="text-decoration-none text-dark">pasta</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=popcorn" class="text-decoration-none text-dark">popcorn</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=cake" class="text-decoration-none text-dark">cake</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=seafood" class="text-decoration-none text-dark">seafood</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=fries" class="text-decoration-none text-dark">fries</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=masala" class="text-decoration-none text-dark">masala</a>
    </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=chicken" class="text-decoration-none text-dark">chicken</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=toast" class="text-decoration-none text-dark">toast</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=chili" class="text-decoration-none text-dark">chili</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=" class="text-decoration-none text-dark">chocolate</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=curry" class="text-decoration-none text-dark">curry</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=beef" class="text-decoration-none text-dark">beef</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=goat" class="text-decoration-none text-dark">goat</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=fish" class="text-decoration-none text-dark">fish</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=blackberry" class="text-decoration-none text-dark">blackberry</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=coconut" class="text-decoration-none text-dark">coconut</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=carrot" class="text-decoration-none text-dark">carrot</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=cucumber" class="text-decoration-none text-dark">cucumber</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=corn" class="text-decoration-none text-dark">corn</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=beetroot" class="text-decoration-none text-dark">beetroot</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=banana" class="text-decoration-none text-dark">banana</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=fig" class="text-decoration-none text-dark">fig</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=kiwifruit" class="text-decoration-none text-dark">kiwifruit</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=lemon" class="text-decoration-none text-dark">lemon</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=ribs" class="text-decoration-none text-dark">ribs</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=bacon" class="text-decoration-none text-dark">bacon</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=champ" class="text-decoration-none text-dark">champ</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=apple" class="text-decoration-none text-dark">apple</a>
        </li>
    <li class="list-group-item recipe-item">
        <a href="/Recipe/SearchItemRecipes?recipe=mango" class="text-decoration-none text-dark">mango</a>
    </li>
</ul>